<section class="details-page">
    <h1>Details</h1>
    <article class="details-card">

        <article class="details-card-text">
            <h2>Title:<br> {{foundBook.title}}</h2>
            <h3>Author: {{foundBook.author}}</h3>
            <h3>Stars: {{foundBook.stars}}</h3>
            <h3>Genre: {{foundBook.genre}}</h3>
            <h3>Review: {{foundBook.review}}
            </h3>
            
            <!-- If there is no registered user, do not display buttons-->
            <div class="buttons">
                <!-- Only for registered user and author of the review -->
                {{#if isOwner}}
                <a href="/books/edit/{{foundBook._id}}" class="btn-edit">Edit</a>
                <a href="/books/delete/{{foundBook._id}}" class="btn-delete">Delete</a>
                {{/if}}
                <!-- logged in user who has not yet wished book-->
                {{#if isAuthenticated}}
                {{#unless isOwner}}
                {{#if hasWished}}
                <p class="wish-pub">You already added the book to your wish list</p>
                {{else}}
                <a href="/books/details/{{foundBook._id}}/wish" class="btn-wish">Wish to read</a>
                {{/if}}
                {{/unless}}
                {{/if}}
            </div>

        </article>

        <article class="details-card-image">
            <img src="{{foundBook.image}}">
        </article>

    </article>
</section>