<main>

    {{#each errorMessage}}
    <div class="error-box">
        <p>{{this}}</p>
    </div>
    {{/each}}

    <!-- Details Page -->
    <section id="catalog-section">

        <h1 class="item">
            {{foundAuction.title}}
        </h1>
        {{#if isOwner}}
        <a class="action" href="/auction/edit/{{foundAuction._id}}">Edit</a>
        <a class="action" href="/auction/delete/{{foundAuction._id}}">Delete</a>
        {{/if}}
        <div class="item padded">

            <div class="layout right large">

                <div class="col">
                    <img src="{{foundAuction.image}}" class="img-large">
                </div>

                <div class="content pad-med">

                    <p>In category: <strong>{{foundAuction.category}}</strong></p>
                    <p>{{foundAuction.description}}</p>

                    <div class="align-center">
                        <div>
                            Current price: $<strong>{{foundAuction.price}}</strong>
                        </div>

                        <!-- If current user can place a bid -->
                        {{#unless isOwner}}
                        {{#if isHighestBidder}}
                        <div>
                            You are currently the <strong>highest bidder</strong> for this auction
                        </div>
                        {{else}}
                        {{#if isAuthenticated}}
                        <form class="vertical" method="POST">
                            <label><span>Bid amount</span><input type="number" name="bid"></label>
                            <input class="action" type="submit" value="Place bid">
                        </form>
                        {{/if}}
                        {{/if}}

                        {{/unless}}

                        {{#if isOwner}}
                        {{#unless hasBids}}
                        <div>
                            No bids
                        </div>
                        {{else}}
                        <!-- TODO RENDER HIGHEST BIDDER NAME-->
                        <div>
                            Bid by {{foundAuction.bidder.firstname}} {{foundAuction.bidder.lastname}} 
                        </div>
                        {{/unless}}
                        {{/if}}
                        <!-- If current user is the bidder -->


                    </div>

                </div>
            </div>

            <footer>Listed by {{foundAuction.owner.firstname}} {{foundAuction.owner.lastname}}</footer>
        </div>

    </section>

</main>